body{margin:0px;padding:0px;}
a {height:100%;width:100%;text-decoration:none;color:#000000;}
.dl-element{display:inline;float:left;margin:0px;padding:0px;height:100%;top:0%;position:relative;overflow:hidden;}
.dl-fg-element{position:absolute;top:0px;z-index:10;height:100%;width:100%;}
.dl-bg-element{position:absolute;top:0px;z-index:20;height:100%;width:100%;}
.dl-bg-element div{height:50%;width:100%;background-size:cover;background-attachment: center;}
.dl-fg-element div{height:50%;width:100%;background-size:cover;background-attachment: center;}
.author {font-family:Verdana;color:black;font-weight:bold;}
.text{font-family:Verdana;color:black;}
.author:before{content: "by: ";}